# .ebextensions/01_pip_temp_directory.config
# This configuration creates a larger temporary directory for pip installations

commands:
  01_create_pip_temp_dir:
    command: "mkdir -p /var/app/pip_temp"
    leader_only: true
  
  02_set_pip_temp_permissions:
    command: "chmod 777 /var/app/pip_temp"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    TMPDIR: /var/app/pip_temp
    PIP_CACHE_DIR: /var/app/pip_cache
    
commands:
  03_create_pip_cache_dir:
    command: "mkdir -p /var/app/pip_cache"
    leader_only: true
    
  04_set_pip_cache_permissions:
    command: "chmod 777 /var/app/pip_cache"
    leader_only: true